*.pyc
*.*~
x86_64
i386
umac
*.dll

NeuroML2/*.svg
NeuroML2/*.pov
NeuroML2/*.ini
NeuroML2/*.png
NeuroML2/*.dat
NeuroML2/*.mod
NeuroML2/*.hoc
NeuroML2/*_nrn.py


.idea/
*.DS_Store
/NEURON/fig7.weight.dat.0
/NEURON/run16.sh
*.bak
