*.pyc
*.*~
x86_64
i386
umac
*.dll

NeuroML2/*/*.svg
*.pov
*.ini
NeuroML2/*/*.png
*.dat
*.mod
*.hoc
*_nrn.py


.idea/
*.DS_Store
/NEURON/fig7.weight.dat.0
/NEURON/run16.sh
*.bak
/NeuroML2/Channels/LEMS_Test_*.xml
/NeuroML2/Networks/movie
*_TestBed.xml

NEURON/error\.log

tests/error\.log

NeuroML2/Networks/report\.html

NeuroML2/MitralCells/Exported/report\.html

NeuroML2/MitralCells/Exported/PartialBulb_1MTCells\.net\.nml

NeuroML2/MitralCells/Exported/PartialBulb_2MTCells\.net\.nml
